<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h2>Rewards</h2>
</div>
<nav aria-label="breadcrumb" class="border-bottom mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/admin/rewards">Rewards</a></li>
        <li class="breadcrumb-item active">{{reward_form.value.name}}</li>
    </ol>
</nav>
<form [formGroup]="reward_form" (ngSubmit)="save()">
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        Reward Details
                    </h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-label-group">
                                <input type="text" class="form-control" [ngClass]="{'is-invalid' : reward_form_errors?.name}" formControlName="name" id="name" placeholder="Reward name" required>
                            
                                <label for="name">Reward Name</label>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of reward_form_errors?.name">{{error}}</p>
                                </div>
                            </div>
                            <div class="form-label-group">
                                
                                <input type="text" class="form-control" [ngClass]="{'is-invalid' : reward_form_errors?.slug}" formControlName="slug" id="reward_slug" placeholder="Reward slug">
                                <label for="reward_slug">Slug (Optional)</label>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of reward_form_errors?.slug">{{error}}</p>
                                </div>
                            </div>
                            <div class="form-label-group">
                                
                                <input type="number" class="form-control" [ngClass]="{'is-invalid' : reward_form_errors?.price}" formControlName="price" id="reward_price" placeholder="Points price">
                                <label for="reward_slug">Points price</label>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of reward_form_errors?.price">{{error}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-label-group">
                                <textarea type="text" class="form-control" [ngClass]="{'is-invalid' : reward_form_errors?.description}" formControlName="description" id="reward_description" rows="6"></textarea>
                                <label for="reward_description">Description (Optional)</label>
                                
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of reward_form_errors?.description">{{error}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="reward_images">Reward Images</label>
                            <button type="button" *ngIf="!cropMode" (click)="resetCrop()" class="btn btn-warning">Reset</button>
                            <button type="button" *ngIf="!cropMode" (click)="cropMode=true" class="btn btn-primary">Crop</button>
                            <button type="button" *ngIf="cropMode && !newFiles" (click)="cancelCrop()" class="btn btn-danger">Cancel</button>
                            <button type="button" *ngIf="cropMode" (click)="confirmCrop()" class="btn btn-primary">Confirm Crop</button>
                            <input #fileInput id="reward_images" type="file" (change)="fileChangeEvent($event)" accept="image/*" class="form-control" [ngClass]="{'is-invalid' : reward_form_errors?.images}" style="width: auto;" multiple/>
                            <div class="invalid-feedback">
                                <p *ngFor="let error of reward_form_errors?.images">{{error}}</p>
                            </div>
                            <div *ngIf="!cropMode" class="row" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                                <div class="col-md-6 col-lg-6 col-xl-2 text-center" *ngFor="let image of reward_data?.images; let i = index" cdkDrag>
                                    <img style="width: inherit" src="{{image?.base64}}">
                                    <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(i)">Remove</button>
                                </div>
                            </div>
                            <div *ngIf="cropMode" class="row">
                                <div class="col-md-6 col-lg-6 col-xl-2" *ngFor="let image of reward_data?.images; let i = index">
                                    <image-cropper
                                        [imageBase64]="image?.base64"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="1 / 1"
                                        format="jpeg"
                                        (imageCropped)="imageCropped($event, i)"
                                        (imageLoaded)="imageLoaded()"
                                        (cropperReady)="cropperReady()"
                                        (loadImageFailed)="loadImageFailed()"
                                    ></image-cropper>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <div class="row mb-3 mt-3">
        <div class="col-lg-12 border-bottom">
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary float-right">Save</button>
                <button type="submit" class="btn btn-warning float-right" style="margin-right:15px;" *ngIf="reward_data?.active" (click)="changeStatus(reward_data.id)">Deactivate</button>
                <button type="submit" class="btn btn-warning float-right" style="margin-right:15px;" *ngIf="!reward_data?.active" (click)="changeStatus(reward_data.id)">Activate</button>
            </div>
        </div>
    </div>
</form>

