<nav class="breadcrumb skin-matters-background-color" style="padding: 0;font-size: 14px;">
    <div class="container">
        <ol class="breadcrumb" style="background-color: transparent;padding: 0;">
            <li class="breadcrumb-item"><a style="color:#4a4a4a" href="/">Home</a></li>
            <li class="breadcrumb-item" style="color: white;" aria-current="page">Profile</li>
        </ol>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group">
                <a routerLink="/profile" routerLinkActive="active">
                    <li class="list-group-item">Account Details</li>
                </a>
                <a routerLink="/profile/addresses" routerLinkActive="active">
                    <li class="list-group-item">Addresses</li>
                </a>
                <a routerLink="/profile/orders" routerLinkActive="active">
                    <li class="list-group-item">Orders</li>
                </a>
              </ul>
        </div>

        <div class="col-lg-9 card" style="padding: 0.5rem;">
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>