<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
  <h2>Admin Dashboard</h2>
</div>
<nav aria-label="breadcrumb" class="border-bottom mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
  </ol>
</nav>
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Applied for</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of distributor" (click)="view(item.distributors[0].id)">
          <td>
            {{item.distributors[0].id}}
          </td>
          <td>
            {{item.first_name}} {{item.last_name}}
          </td>
          <td>
            {{item.email}}
          </td>
          <td>
            {{item.distributors[0].contact_number}}
          </td> 
          <td>
            {{item.distributors[0].ranks[0]?item.distributors[0].ranks[0].title:''}}
          </td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="accept(item.distributors[0])">
              accept
            </button>
            <button class="btn btn-sm btn-danger" style="margin-left:5px;" (click)="decline(item.distributors[0])">
              decline
            </button>
          </td>
        </tr>
    </tbody>
  </table>

</div>