<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h2>JRU - Community Development Program</h2>
  </div>
  <div class="row tools">
    <div class="col-lg-12" >
      <button routerLink="/community-development/create" type="button" class="btn btn-primary float-right" style="background-color: #152d65;">Create Outreach</button>
    </div>
  </div>
  <div class="table-responsive" style="margin-top: 10px;">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
      <thead style="background-color: #f9bd3b;">
        <tr>
          <th>ID</th>
          <th>Area</th>
          <th>Theme</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of programs">
          <td>{{item.id}}</td>
          <td>{{item.project_area}}</td>
          <td>{{item.theme}} </td>
          <td>{{item.created_at | date : 'longDate'}}</td>
          <td>
            <button class="btn btn-sm btn-primary" routerLink="/community-development/{{item.id}}">
              View
            </button>
            <!-- <button class="btn btn-sm btn-danger"  style="margin-left:5px" (click)="decline(item)">
                delete
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>