<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h2>Products</h2>
</div>
<nav aria-label="breadcrumb" class="border-bottom mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/admin/products">Products</a></li>
        <li class="breadcrumb-item active">{{product_form.value.product_name}}</li>
    </ol>
</nav>
<form [formGroup]="product_form" (ngSubmit)="save()">
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        Product Details
                    </h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="product_name">Product Name</label>
                                <input type="text" class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.product_name}" formControlName="product_name" id="product_name" placeholder="Product Name" required>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.product_name">{{error}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product_slug">Slug (Optional)</label>
                                <input type="text" class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.slug}" formControlName="slug" id="product_slug" placeholder="product-slug">
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.slug">{{error}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product_price">Price</label>
                                <input type="text" class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.price}" formControlName="price" id="product_price" placeholder="Product Price" required>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.price">{{error}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product_points">Points</label>
                                <input type="text" class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.points}" formControlName="points" id="product_points" placeholder="Product Points" required>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.points">{{error}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="product_description">Description (Optional)</label>
                                <textarea type="text" class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.description}" formControlName="description" id="product_description" rows="4"></textarea>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.description">{{error}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product_category">Category</label>
                                <select class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.category}" formControlName="category" id="product_category" placeholder="Product Category" required>
                                    <option value ="" selected disabled>Select category</option>
                                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.category">{{error}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="product_images">Product Images</label>
                            <button type="button" *ngIf="!cropMode" (click)="resetCrop()" class="btn btn-warning">Reset</button>
                            <button type="button" *ngIf="!cropMode" (click)="cropMode=true" class="btn btn-primary">Crop</button>
                            <button type="button" *ngIf="cropMode && !newFiles" (click)="cancelCrop()" class="btn btn-danger">Cancel</button>
                            <button type="button" *ngIf="cropMode" (click)="confirmCrop()" class="btn btn-primary">Confirm Crop</button>
                            <input #fileInput id="product_images" type="file" (change)="fileChangeEvent($event)" accept="image/*" class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.images}" style="width: auto;" multiple/>
                            <div class="invalid-feedback">
                                <p *ngFor="let error of product_form_errors?.images">{{error}}</p>
                            </div>
                            <div *ngIf="!cropMode" class="row" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                                <div class="col-md-6 col-lg-6 col-xl-2 text-center" *ngFor="let image of product_data?.images; let i = index" cdkDrag>
                                    <img style="width: inherit" src="{{image?.base64}}">
                                    <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(i)">Remove</button>
                                </div>
                            </div>
                            <div *ngIf="cropMode" class="row">
                                <div class="col-md-6 col-lg-6 col-xl-2" *ngFor="let image of product_data?.images; let i = index">
                                    <image-cropper
                                        [imageBase64]="image?.base64"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="1 / 1"
                                        format="jpeg"
                                        (imageCropped)="imageCropped($event, i)"
                                        (imageLoaded)="imageLoaded()"
                                        (cropperReady)="cropperReady()"
                                        (loadImageFailed)="loadImageFailed()"
                                    ></image-cropper>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        Stock Management
                    </h2>
                    <div class="form-group col-md-6">
                        <!--<p>Stock Management</p>-->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" [ngClass]="{'is-invalid' : product_form_errors?.stock_management}" [(ngModel)]="stock_management" formControlName="stock_management" id="stock_management">
                                    <label class="form-check-label" for="stock_management">Enable stock management</label>
                                </div>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.stock_management">{{error}}</p>
                                </div>
                            </div>
                            <div class="form-group col-md-6" [hidden]="!stock_management">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" [ngClass]="{'is-invalid' : product_form_errors?.accept_reservation}" formControlName="accept_reservation" id="accept_reservation">
                                    <label class="form-check-label" for="accept_reservation">Accept reservation</label>
                                </div>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.accept_reservation">{{error}}</p>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="!stock_management">
                            <div class="form-group">
                                <label for="total_quantity">Total Quantity</label>
                                <input type="text" class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.total_quantity}" formControlName="total_quantity" id="total_quantity" readonly>
                                <div class="invalid-feedback">
                                    <p *ngFor="let error of product_form_errors?.total_quantity">{{error}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6" [hidden]="stock_management">
                        <label for="stock_status">Status type</label>
                        <select class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.stock_status}" formControlName="stock_status" id="stock_status" required>
                            <option value ="" selected disabled>Select status</option>
                            <option value ="instock">In stock</option>
                            <option value ="outofstock">Out of stock</option>
                            <option value ="reservation">For reservation</option>
                        </select>
                        <div class="invalid-feedback">
                            <p *ngFor="let error of product_form_errors?.stock_status">{{error}}</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6" [hidden]="!stock_management">
                        <div class="form-group">
                            <label for="stock_action">Action</label>
                            <select class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.stock_action}" [(ngModel)]="stock_action" formControlName="stock_action" id="stock_action" [required]="stock_management">
                                <option value ="" selected>No action</option>
                                <option value ="add_stock">Add Stocks</option>
                                <option value ="deduct_stock">Deduct Stocks</option>
                            </select>
                            <div class="invalid-feedback">
                                <p *ngFor="let error of product_form_errors?.stock_action">{{error}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantity_change">Quantity Change</label>
                            <input type="text" class="form-control" [ngClass]="{'is-invalid' : product_form_errors?.quantity_change}" formControlName="quantity_change" id="quantity_change" [readonly]="stock_action==''">
                            <div class="invalid-feedback">
                                <p *ngFor="let error of product_form_errors?.quantity_change">{{error}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 mt-3">
        <div class="col-lg-12 border-bottom">
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            
        </div>
    </div>
</form>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    Price & Points Management
                </h2>
                <div *ngFor="let item of price_point_management | keyvalue">
                    <!--<label>
                        item {{item.value}}
                    </label>
                -->
                    <div  class="row">
                        <div class="col-lg-4">
                            <div class="form-label-group">
                                <select name="rank{item.value}" id="inputDistributorClass{item.value}" class="form-control" required [(ngModel)]="data_price_point[item.value].rank" (click)="selectRank()" (init)="data_price_point[item.value].before_rank=''" (focus)="data_price_point[item.value].before_rank=data_price_point[item.value].rank">
                                    <option value ="" selected disabled>Select applying for</option>
                                    <option *ngFor="let rank of data_rank[item.value]" value="{{rank.slug}}" [disabled]="rank.disabled">{{rank.title}}</option>
                                </select>
                                <label for="inputDistributorClass{item.value}">Distributor class</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-label-group">
                                <input name="price{item.value}"  type="text" id="inputPoints{item.value}" class="form-control" placeholder="Price" required autofocus  [(ngModel)]="data_price_point[item.value].price">
                                <label for="inputPrice{item.value}">Price</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-label-group">
                                <input name="points{item.value}"  type="text" id="inputPoints{item.value}" class="form-control" placeholder="Points" required autofocus  [(ngModel)]="data_price_point[item.value].points">
                                <label for="inputPoints{item.value}">Points</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger pull-left ml-2" (click)="removeField(item.key, item.value)"  *ngIf="item.key > 0">remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left" (click)="addField()" [disabled]="price_point_count >= 4">Add</button>
            </div>
        </div>
    </div>

    <div class="col-lg-12 mt-3 border-bottom">
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary" (click)="savePricePromo()">Save</button>
        </div>
        
    </div>
</div>
  