<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h2>Sales</h2>
</div>
<nav aria-label="breadcrumb" class="border-bottom mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Sales</li>
    </ol>
</nav>
<div class="row ">
    <div class="col-lg-12 ">
        <div class="action-tools row ">
            <div class="col-lg-12">
                <label>
                    Filter by date
                </label>
            </div>
            <div class="date-picker-left col-md-3">
                <ejs-datetimepicker id='datetimepicker' placeholder='Select a start date' [(ngModel)]='this.startValue' [value]='startValue'></ejs-datetimepicker>
            </div>
            <div class="date-picker-right col-md-3">
                <ejs-datetimepicker id='datetimepicker' placeholder='Select a end date' [(ngModel)]='this.endValue' [value]='endValue'></ejs-datetimepicker>
            </div>
            <button class="btn btn-primary" (click)="reloadData()">Filter</button>
        </div>
        <hr>
    </div>
    <div class="col-lg-12">
        <h2>
            Total Sales: <span>{{total_sales}}</span>
        </h2>
    </div>
    <div class="col-lg-12">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                <thead class="thead-dark">
                    <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Discount</th>
                    <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of sales_per_merchandise">
                            
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.quantity}}
                        </td>
                        <td>
                            {{item.subtotal}}
                        </td>
                        <td>
                            {{item.discount}}
                        </td>
                        <td>
                            {{item.total_price}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>