<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h2>JRU - Community Development Program</h2>
</div>

<form [formGroup]="project_form">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <fieldset class="form-group">
                            <div class="row" [ngClass]="{'is-invalid' : project_form.project_area}">
                                <legend class="col-form-label col-sm-3 pt-0">Project Area</legend>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="form-check col-sm-6" *ngFor="let area of project_areas">
                                            <input class="form-check-input" name="project_area" type="checkbox" id="project_area{{area.id}}" value="{{area.name}}" (change)="project_area_changed($event)">
                                            <label class="form-check-label" for="project_area{{area.id}}">
                                                {{area.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="error-feedback">
                                        <p *ngFor="let error of project_form_errors?.project_area">{{error}}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-3 pt-0">Project Strategy</legend>
                                <div class="col-sm-9">
                                    <select name="project_strategy" id="project_strategy" class="form-control" [ngClass]="{'is-invalid' : project_form.project_strategy}" formControlName="project_strategy" id="project_strategy" placeholder="Project Strategy">
                                        <option value="" selected disabled>Select strategy</option>
                                        <option *ngFor="let strategy of project_strategies" value="{{strategy.name}}">{{strategy.name}}</option>
                                    </select>
                                    <div class="error-feedback">
                                        <p *ngFor="let error of project_form_errors?.project_strategy">{{error}}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <fieldset class="form-group col-sm-12">
                            <div class="row" [ngClass]="{'is-invalid' : project_form.project_start_date}">
                                <legend class="col-form-label col-sm-3 pt-0">Start Date</legend>
                                <div class="col-sm-9">
                                    <input class="form-control form-input" name="project_start_date" type="date" id="project_start_date" formControlName="project_start_date" placeholder="dd-mm-yyy">
                                    <div class="error-feedback">
                                        <p *ngFor="let error of project_form_errors?.project_start_date">{{error}}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group col-sm-12">
                            <div class="row" [ngClass]="{'is-invalid' : project_form.project_start_time}">
                                <legend class="col-form-label col-sm-3 pt-0">Start Time</legend>
                                <div class="col-sm-9">
                                    <input class="form-control form-input" name="project_start_time" type="text" id="project_start_time" formControlName="project_start_time" placeholder="24:00">
                                    <div class="error-feedback">
                                        <p *ngFor="let error of project_form_errors?.project_start_time">{{error}}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group col-sm-12">
                            <div class="row" [ngClass]="{'is-invalid' : project_form.project_end_date}">
                                <legend class="col-form-label col-sm-3 pt-0">End Date</legend>
                                <div class="col-sm-9">
                                    <input class="form-control form-input" name="project_end_date" type="date" id="project_end_date" formControlName="project_end_date" placeholder="dd-mm-yyy">
                                    <div class="error-feedback">
                                        <p *ngFor="let error of project_form_errors?.project_end_date">{{error}}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group col-sm-12">
                            <div class="row" [ngClass]="{'is-invalid' : project_form.project_end_time}">
                                <legend class="col-form-label col-sm-3 pt-0">End Time</legend>
                                <div class="col-sm-9">
                                    <input class="form-control form-input" name="project_end_time" type="text" id="project_end_time" formControlName="project_end_time" placeholder="24:00">
                                    <div class="error-feedback">
                                        <p *ngFor="let error of project_form_errors?.project_end_time">{{error}}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group col-sm-12">
                            <div class="row" [ngClass]="{'is-invalid' : project_form.project_place}">
                                <legend class="col-form-label col-sm-3 pt-0">Place</legend>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-input" name="project_place" id="project_place" formControlName="project_place" placeholder="Enter Place of Project"></textarea>
                                    <div class="error-feedback">
                                        <p *ngFor="let error of project_form_errors?.project_place">{{error}}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group col-sm-12">
                            <div class="row" [ngClass]="{'is-invalid' : project_form.project_theme}">
                                <legend class="col-form-label col-sm-3 pt-0">Theme/ Event</legend>
                                <div class="col-sm-9">
                                    <input class="form-control form-input" name="project_theme" type="text" id="project_theme" formControlName="project_theme" placeholder="Enter Theme/ Event of Project">
                                    <div class="error-feedback">
                                        <p *ngFor="let error of project_form_errors?.project_theme">{{error}}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="col-lg-12">
    <hr>
    <div class="form-group float-right" >
        <button type="submit" class="btn btn-primary" (click)="save()" style="background-color: #152d65;">Save</button>
    </div>
</div>