<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h2>Distributors</h2>
</div>
<nav aria-label="breadcrumb" *ngIf="!this.previousDashboard"  class="border-bottom mb-3">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/distributors">Distributors</a></li>
    <li class="breadcrumb-item active">Details</li>
    </ol>
</nav>
<nav aria-label="breadcrumb" *ngIf="this.previousDashboard"  class="border-bottom mb-3">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
    <li class="breadcrumb-item active">Distributors Details</li>
    </ol>
</nav>
<form #distributorForm=ngForm (ngSubmit)="save()">
    <div class="tab-content">
        <div class="tab-pane fade show active">
            <div class="row mb-3">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Personal Information</h2>
                            <div class="form-label-group">
                                <input name="distributor_code"  type="text" id="inputDistributorCode" class="form-control" [(ngModel)]="this.distributor.distributors[0].distributor_code" value="{{this.distributor.distributors[0].distributor_code}}" placeholder="Distributor code" required disabled >
                                <label for="inputDistributorCode">Distributor code</label>
                            </div>
                            <div class="form-label-group">
                                <input name="first_name" type="text" id="inputFirstName" class="form-control" [(ngModel)]="this.distributor.first_name"  value="{{this.distributor.first_name}}"  placeholder="First name" required autofocus [disabled]="this.previousDashboard">
                                <label for="inputFirstName">First name</label>
                                
                            </div>
                            <div class="form-label-group">
                                <input name="last_name"  type="text" id="inputLastName" class="form-control" [(ngModel)]="this.distributor.last_name"  value="{{this.distributor.last_name}}"  placeholder="Last name" required autofocus [disabled]="this.previousDashboard">
                                <label for="inputLastName">Last name</label>
                            </div>
                            <div class="form-label-group">
                                <input type="email" name="email"  id="inputEmail" class="form-control" [(ngModel)]="this.distributor.email"  value="{{this.distributor.email}}"  placeholder="Email address" required autofocus [disabled]="this.previousDashboard">
                                <label for="inputEmail">Email</label>
                            </div>
                            <div class="form-label-group">
                                <input name="contact_number"  type="text" id="inputContactNumber" class="form-control" [(ngModel)]="this.distributor.distributors[0].contact_number"  value="{{this.distributor.distributors[0].contact_number}}"  placeholder="Contact number" minlength="11" maxlength="11"  required autofocus [disabled]="this.previousDashboard">
                                <label for="inputContactNumber">Contact number</label>
                            </div>
                            
                            <div class="form-label-group">
                                <select name="rank" id="inputDistributorClass" class="form-control" [(ngModel)]="this.distributor.distributors[0].ranks[0].slug" required (change)="this.distributor.distributors[0].ranks[0].pivot.area =''" [disabled]="this.previousDashboard">
                                    <option value ="" selected disabled>Select applying for</option>
                                    <option *ngFor="let rank of data_rank" value="{{rank.slug}}">{{rank.title}}</option>
                                </select>
                                <label for="inputDistributorClass">Distributor class</label>
                            </div>
                            <div class="form-label-group" *ngIf="this.distributor.distributors[0].ranks[0].slug != 'resellers' && this.distributor.distributors[0].ranks[0].slug != ''">
                                <select name="area" id="area" class="form-control" [(ngModel)]="this.distributor.distributors[0].ranks[0].pivot.area" required *ngIf="this.distributor.distributors[0].ranks[0].slug == 'regional'" [disabled]="this.previousDashboard">
                                    <option value = "" selected disabled>Select area</option>
                                    <option *ngFor="let areas of select_option.region">{{areas.name}}</option>
                                </select>

                                <select name="area" id="area" class="form-control" [(ngModel)]="this.distributor.distributors[0].ranks[0].pivot.area" required *ngIf="this.distributor.distributors[0].ranks[0].slug == 'provincial'" [disabled]="this.previousDashboard">
                                    <option value ="" selected disabled>Select area</option>
                                    <option *ngFor="let areas of select_option.state">{{areas.name}}</option>
                                </select>

                                <select name="area" id="area" class="form-control" [(ngModel)]="this.distributor.distributors[0].ranks[0].pivot.area" required *ngIf="this.distributor.distributors[0].ranks[0].slug == 'city'" [disabled]="this.previousDashboard">
                                    <option value ="" selected disabled>Select area</option>
                                    <option *ngFor="let areas of select_option.city">{{areas.name}}</option>
                                </select>
       
                                <label for="inputArea">Area</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                Address
                            </h2>
                            <div class="form-label-group">
                                <input name="address_line1"  type="text" id="inputAddressLine1" class="form-control" [(ngModel)]="this.distributor.distributors[0].address[0].address_line1" value="{{this.distributor.distributors[0].address[0].address_line1}}"placeholder="Address line 1" required autofocus [disabled]="this.previousDashboard">
                                <label for="inputAddressLine1">Address Line 1</label>
                            </div>
                            <div class="form-label-group">
                                <input name="address_line2" type="text" id="inputAddressLine2" class="form-control" [(ngModel)]="this.distributor.distributors[0].address[0].address_line2" value="{{this.distributor.distributors[0].address[0].address_line2}}" placeholder="Address line 2 (optional)" autofocus [disabled]="this.previousDashboard">
                                <label for="inputAddressLine2">Address line 2(optional)</label>
                            </div>
                            <div class="form-label-group">
                                <select name="city" id="city" class="form-control" [(ngModel)]="this.distributor.distributors[0].address[0].city" [disabled]="this.previousDashboard">
                                    <option value ="" selected disabled>Select City</option>
                                    <option *ngFor="let city of select_option.city">{{city.name}}</option>
                                </select> 
                                <label for="inputCity">City</label>
                            </div>
                            <div class="form-label-group">
                                <select name="state" id="state" class="form-control" [(ngModel)]="this.distributor.distributors[0].address[0].state" [disabled]="this.previousDashboard">
                                    <option value ="" selected disabled>Select province</option>
                                    <option *ngFor="let state of select_option.state">{{state.name}}</option>
                                </select>
                                <label for="inputState">Province</label>
                            </div>
                            
                            <div class="form-label-group">
                                <input name="zip_code"  type="text" id="inputZipcode" class="form-control" [(ngModel)]="this.distributor.distributors[0].address[0].zip_code"value="{{this.distributor.distributors[0].address[0].zip_code}}"  placeholder="Zipcode" required autofocus [disabled]="this.previousDashboard">
                                <label for="inputZipcode">Zip Code</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="this.distributor.referral_data">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Social Media</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-label-group">
                                        <input name="facebook_name" type="text" id="inputFacebook" class="form-control" [(ngModel)]="this.distributor.distributors[0].facebook_name"  value="{{this.distributor.distributors[0].facebook_name}}"  placeholder="Ex. Juan Dela Cruz" required autofocus [disabled]="this.previousDashboard">
                                        <label for="inputFacebookName">Facebook Name</label>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-label-group">
                                        <input name="facebook" type="text" id="inputFacebook" class="form-control" [(ngModel)]="this.distributor.distributors[0].facebook"  value="{{this.distributor.distributors[0].facebook}}"  placeholder="Facebook URL" required autofocus [disabled]="this.previousDashboard">
                                        <label for="inputFacebook">Facebook URL</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-label-group">
                                        <input name="instagram_name"  type="text" id="inputInstagram" class="form-control" [(ngModel)]="this.distributor.distributors[0].instagram_name"  value="{{this.distributor.distributors[0].instagram_anme}}"  placeholder="Ex. @skinmattersbeauty" required autofocus [disabled]="this.previousDashboard">
                                        <label for="inputInstagramName">Instagram Handle</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-label-group">
                                        <input name="instagram"  type="text" id="inputInstagram" class="form-control" [(ngModel)]="this.distributor.distributors[0].instagram"  value="{{this.distributor.distributors[0].instagram}}"  placeholder="Instagram URL" required autofocus [disabled]="this.previousDashboard">
                                        <label for="inputInstagram">Instagram URL</label>
                                    </div>   
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Referral</h2>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-label-group">
                                        <input name="referral_code" type="text" id="inputReferralCode" class="form-control" [(ngModel)]="this.distributor.distributors[0].referral_code"  value="{{this.distributor.distributors[0].referral_code}}"  placeholder="Referral code" required autofocus [disabled]="this.previousDashboard" disabled>
                                        <label for="inputReferralCode">Referral Code</label>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-label-group">
                                        <input name="referral_id" type="text" id="inputReferralId" class="form-control" [(ngModel)]="this.distributor.referral_data.distributors[0].id"  value="{{this.distributor.referral_data.distributors[0].id}}"  placeholder="Referral id" required autofocus [disabled]="this.previousDashboard" disabled>
                                        <label for="inputReferralId">Distributor ID(Referral)</label>
                                    </div>
                                </div>
                               
                                <div class="col-lg-7">
                                    <div class="form-label-group">
                                        <input name="referral_name" type="text" id="inputReferralName" class="form-control" [(ngModel)]="this.distributor.referral_data.full_name"  value="{{this.distributor.referral_data.full_name}}"  placeholder="Referral name" required autofocus [disabled]="this.previousDashboard" disabled>
                                        <label for="inputReferralName">Distributor Name(Referral)</label>
                                    </div>
                                </div>
                               
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer" style="margin-top:15px;background:none">
        <div class="col-lg-12" *ngIf="!this.previousDashboard" >
            <div class="form-group float-right">
                <button type="submit" class="btn btn-primary" [disabled]="!distributorForm.valid">Save</button>
            </div>
        </div>
        <div class="col-lg-12" *ngIf="this.previousDashboard">
            <div class="form-group float-right">
                <button class="btn btn-sm btn-danger" (click)="decline(this.distributor.distributors[0])">
                    Decline
                </button>
                <button class="btn btn-sm btn-primary" style="margin-left:10px;" (click)="accept(this.distributor.distributors[0])">
                    Approve
                </button>
            </div>
        </div>
    </div>
</form>