<footer class="footer" style="padding: 4rem 0 3rem 0;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="social-part text-center">
					<div class="row">
						<div class="col-xl-6">
							<a href="https://www.facebook.com/skinmattersbeauty" target="_blank">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<span>SkinMatters Beauty</span>
							</a>
						</div>
						<div class="col-xl-6">
							<a href="https://www.instagram.com/skinmattersbeauty/" target="_blank">
								<i class="fa fa-instagram" aria-hidden="true"></i>
								<span>skinmattersbeauty</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="site-info text-center">
					<p>Copyright © 2020 Skin Matters. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>