<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
  <h2>Orders</h2>
</div>
<nav aria-label="breadcrumb" class="border-bottom mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
    <li class="breadcrumb-item active">Orders</li>
  </ol>
</nav>
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Total Price</th>
        <th>Distributor</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order">
        <td>
          {{item.id}}
        </td>
        <td>
          {{item.total_price}}
        </td>
        <td>
          {{item.distributors.users[0].first_name}}  {{item.distributors.users[0].last_name}}
        </td>
        <td>
          {{item.order_status[0].name}}
        </td>
       
        <td>
          {{item.created_at}}
        </td> 
        <td>
          <button class="btn btn-sm btn-primary" routerLink="/admin/orders/{{item.id}}">
            view
          </button>
          <button class="btn btn-sm btn-danger"  style="margin-left:5px" (click)="cancel(item.id)" *ngIf="item.order_status[0].slug != 'delivered' && item.order_status[0].slug != 'cancelled'">
              cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>