<!-- header start -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h2>JRU - Community Development Program</h2>
</div>
<!-- header end -->


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <!-- Details -->
    <li class="nav-item">
        <a class="nav-link active" id="project-details-tab" [routerLink]="" (click)="openTab('project-details')" style="background-color: #152d65;color:white; ">Outreach Details</a>
    </li>
    <!-- stakeholders -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="" id="project-stakeholders-tab" (click)="openTab('project-stakeholders')" style="background-color: #152d65;color:white;margin-left:10px;">Stakeholders</a>
    </li>
    <!-- Evaluation -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="" id="evaluation-tab" (click)="openTab('evaluation')" style="background-color: #152d65;color:white;margin-left:10px;">Evaluation</a>
    </li>
    <!-- Report -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="" id="report-tab" (click)="openTab('report')" style="background-color: #152d65;color:white;margin-left:10px;">Report</a>
    </li>
    <!-- Photos -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="" id="photos-tab" (click)="openTab('photos')" style="background-color: #152d65;color:white;margin-left:10px;">Photos</a>
    </li>
     <!-- Photos -->
     <li class="nav-item">
        <a class="nav-link" [routerLink]="" id="certificate-tab" (click)="openTab('certificate')" style="background-color: #152d65;color:white;margin-left:10px;">Certificate</a>
    </li>
</ul>

<!-- Details tab start -->
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="project-details" role="tabpanel" aria-labelledby="pills-project-details-tab">
        <form [formGroup]="project_form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-row">
                                <fieldset class="form-group">
                                    <div class="row" [ngClass]="{'is-invalid' : project_form?.project_area}">
                                        <legend class="col-form-label col-sm-3 pt-0">Status</legend>
                                        <div class="col-sm-9">
                                            <select name="project_status" id="project_status" class="form-control" [ngClass]="{'is-invalid' : project_form?.project_status}" formControlName="project_status" placeholder="Project Status">
                                                <option value="" selected disabled>Project Status</option>
                                                <option value="null">PENDING</option>
                                                <option value="1">DONE</option>
                                                <option value="0">CANCELLED</option>
                                            </select>
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_strategy">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <div class="row" [ngClass]="{'is-invalid' : project_form?.project_area}">
                                        <legend class="col-form-label col-sm-3 pt-0">Project Area</legend>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="form-check col-sm-6" *ngFor="let area of project_areas">
                                                    <input class="form-check-input" name="project_area" type="checkbox" id="project_area{{area.id}}" value="{{area.name}}" (change)="project_area_changed($event)" [checked]="selected_project_areas.indexOf(area.name) > -1">
                                                    <label class="form-check-label" for="project_area{{area.id}}">
                                                        {{area.name}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_area">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <div class="row">
                                        <legend class="col-form-label col-sm-3 pt-0">Project Strategy</legend>
                                        <div class="col-sm-9">
                                            <select name="project_strategy" id="project_strategy" class="form-control" [ngClass]="{'is-invalid' : project_form?.project_strategy}" formControlName="project_strategy" id="project_strategy" placeholder="Project Strategy">
                                                <option value="" selected disabled>Select strategy</option>
                                                <option *ngFor="let strategy of project_strategies" value="{{strategy.name}}">{{strategy.name}}</option>
                                            </select>
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_strategy">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-row">
                                <fieldset class="form-group col-sm-12">
                                    <div class="row" [ngClass]="{'is-invalid' : project_form?.project_start_date}">
                                        <legend class="col-form-label col-sm-3 pt-0">Start Date</legend>
                                        <div class="col-sm-9">
                                            <input class="form-control form-input" name="project_start_date" type="date" id="project_start_date" formControlName="project_start_date" placeholder="dd-mm-yyy">
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_start_date">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group col-sm-12">
                                    <div class="row" [ngClass]="{'is-invalid' : project_form?.project_start_time}">
                                        <legend class="col-form-label col-sm-3 pt-0">Start Time</legend>
                                        <div class="col-sm-9">
                                            <input class="form-control form-input" name="project_start_time" type="text" id="project_start_time" formControlName="project_start_time" placeholder="24:00">
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_start_time">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group col-sm-12">
                                    <div class="row" [ngClass]="{'is-invalid' : project_form?.project_end_date}">
                                        <legend class="col-form-label col-sm-3 pt-0">End Date</legend>
                                        <div class="col-sm-9">
                                            <input class="form-control form-input" name="project_end_date" type="date" id="project_end_date" formControlName="project_end_date" placeholder="dd-mm-yyy">
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_end_date">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group col-sm-12">
                                    <div class="row" [ngClass]="{'is-invalid' : project_form?.project_end_time}">
                                        <legend class="col-form-label col-sm-3 pt-0">End Time</legend>
                                        <div class="col-sm-9">
                                            <input class="form-control form-input" name="project_end_time" type="text" id="project_end_time" formControlName="project_end_time" placeholder="24:00">
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_end_time">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group col-sm-12">
                                    <div class="row" [ngClass]="{'is-invalid' : project_form?.project_place}">
                                        <legend class="col-form-label col-sm-3 pt-0">Place</legend>
                                        <div class="col-sm-9">
                                            <textarea class="form-control form-input" name="project_place" id="project_place" formControlName="project_place" placeholder="Enter Place of Project"></textarea>
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_place">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group col-sm-12">
                                    <div class="row" [ngClass]="{'is-invalid' : project_form?.project_theme}">
                                        <legend class="col-form-label col-sm-3 pt-0">Theme/ Event</legend>
                                        <div class="col-sm-9">
                                            <input class="form-control form-input" name="project_theme" type="text" id="project_theme" formControlName="project_theme" placeholder="Enter Theme/ Event of Project">
                                            <div class="error-feedback">
                                                <p *ngFor="let error of project_form_errors?.project_theme">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- save button start -->
                <div class="col-lg-12">
                    <hr>
                    <div class="float-right" >
                        <button type="submit" class="btn btn-success" (click)="save()">Save</button>
                    </div>
                </div>
                <!-- save button end -->
            </div>
        </form>
    </div>
<!-- Details tab end -->


<!-- Stakeholders tab start -->
    <div class="tab-pane fade" id="project-stakeholders" role="tabpanel" aria-labelledby="project-stakeholders-tab">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body"> 

                    <!-- Error feedback -->
                    <div class="error-feedback">
                        <p *ngFor="let error of project_form_errors?.stakeholders">{{error}}</p>
                    </div>

                    <ul class="nav nav-pills mb-3" id="stakeholder-pills-tab" role="tablist">
                        <!-- JRU -->
                        <li class="nav-item">
                            <a class="nav-link active" id="jru-tab" [routerLink]="" (click)="openStakeHolderTab('jru')" style="background-color: #152d65;color:white; ">JRU</a>
                        </li>
                        <!-- Community -->
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="" id="community-tab" (click)="openStakeHolderTab('community')" style="background-color: #152d65;color:white;margin-left:10px;">Community</a>
                        </li>
                        <!-- Others -->
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="" id="others-tab" (click)="openStakeHolderTab('others')" style="background-color: #152d65;color:white;margin-left:10px;">Others</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="stakeholders-pills-tabContent">
                        <!-- JRU tab start -->
                        <div class="stakeholder-tab-pane show active" id="jru" role="tabpanel" aria-labelledby="jru-tab">
                            <div class="form-row">
                                <button type="button" style="margin-left: 5px; background-color: rgba(242,173,0,.9);" class="btn btn-info" (click)="addStakeHolder(stakeholder_add, 'JRU')">Add JRU</button>
                            </div>
                            <div class="table-responsive" style="margin-top: 10px;">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                                    <thead style="background-color: #f9bd3b;">
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let stakeholder of jru_stakeholders;index as i">
                                            <td>{{stakeholder.field_data[0].stakeholder_field_value}}</td>
                                            <td>{{stakeholder.stakeholder_type}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-primary" (click)="viewStakeholder(stakeholder_edit, stakeholder)">
                                                    Edit
                                                </button>
                                                <button class="btn btn-sm btn-danger" (click)="removeStakeholder(stakeholder)">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- JRU tab end -->

                        <!-- Community tab start -->
                        <div class="stakeholder-tab-pane fade" id="community" role="tabpanel" aria-labelledby="community-tab" style="display: none;">
                            <div class="form-row">
                                <button type="button" style="margin-left: 5px; background-color: rgba(242,173,0,.9);" class="btn btn-info" (click)="addStakeHolder(stakeholder_add, 'Community')">Add Community</button>
                            </div>
                            <div class="table-responsive" style="margin-top: 10px;">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                                    <thead style="background-color: #f9bd3b;">
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let stakeholder of community_stakeholders;index as i">
                                            <td>{{stakeholder.field_data[0].stakeholder_field_value}}</td>
                                            <td>{{stakeholder.stakeholder_type}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-primary" (click)="viewStakeholder(stakeholder_edit, stakeholder)">
                                                    Edit
                                                </button>
                                                <button class="btn btn-sm btn-danger" (click)="removeStakeholder(stakeholder)">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Community tab end -->

                        <!-- Others tab start -->
                        <div class="stakeholder-tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab" style="display: none;">
                            <div class="form-row">
                                <button type="button" style="margin-left: 5px; background-color: rgba(242,173,0,.9);" class="btn btn-info" (click)="addStakeHolder(stakeholder_add, 'Other')">Add Others</button>
                            </div>
                            <div class="table-responsive" style="margin-top: 10px;">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                                    <thead style="background-color: #f9bd3b;">
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let stakeholder of other_stakeholders;index as i">
                                            <td>{{stakeholder.field_data[0].stakeholder_field_value}}</td>
                                            <td>{{stakeholder.stakeholder_type}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-primary" (click)="viewStakeholder(stakeholder_edit, stakeholder)">
                                                    Edit
                                                </button>
                                                <button class="btn btn-sm btn-danger" (click)="removeStakeholder(stakeholder)">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Others tab end -->
                    </div>

                    <ng-template #stakeholder_add>
                        <div class="form-row breadcrumb" style="padding: 1rem;margin: 0;">

                            <div class="form-row col-lg-12">
                                <select class="form-control col-md-12" (change)="stakeholder_type_selected('add', added_stakeholder.stakeholder, $event.target.value)" [(ngModel)]="added_stakeholder.stakeholder_type">
                                    <option value="" selected disabled>Select Stakeholder</option>
                                    <option *ngFor="let stakeholder_type of stakeholders[added_stakeholder?.stakeholder] | keyvalue" value="{{stakeholder_type.key}}">{{stakeholder_type.key}}</option>
                                </select>
                            </div>
         
                            <div class="col-lg-12">
                                <hr>
                            </div>

                            <div class="container form-row col-lg-12" *ngFor="let stakeholder of added_stakeholder?.field_data; index as in">
                                <legend *ngIf="stakeholder.stakeholder_field !== 'Student Organization' || 
                                    (stakeholder.stakeholder_field === 'Student Organization' && added_stakeholder.student_organizations)" 
                                    class="col-form-label pt-0">{{stakeholder.stakeholder_field}}
                                </legend>
                                <input 
                                    *ngIf="stakeholder.stakeholder_field !== 'Program' && stakeholder.stakeholder_field !== 'Program/Department' && stakeholder.stakeholder_field !== 'Program/Office' &&
                                        stakeholder.stakeholder_field !== 'Yr. Level' && stakeholder.stakeholder_field !== 'Student Organization'" 
                                    type="text" class="form-control form-input" [(ngModel)]="stakeholder.stakeholder_field_value" placeholder="Enter {{stakeholder.stakeholder_field}}"
                                >
                                <select *ngIf="stakeholder.stakeholder_field === 'Yr. Level'" class="form-control" [(ngModel)]="stakeholder.stakeholder_field_value">
                                    <option value="" selected disabled>Select {{stakeholder.stakeholder_field}}</option>
                                    <option *ngFor="let year_level of year_levels" value="{{year_level}}">{{year_level}}</option>
                                </select>
                                <select *ngIf="stakeholder.stakeholder_field === 'Program' || stakeholder.stakeholder_field === 'Program/Department'" class="form-control" 
                                    (change)="program_type_selected('add', $event.target.value)" [(ngModel)]="stakeholder.stakeholder_field_value">
                                    <option value="" selected disabled>Select {{stakeholder.stakeholder_field}}</option>
                                    <option *ngFor="let program of programs | keyvalue" value="{{program.key}}">{{program.key}}</option>
                                </select>
                                <select *ngIf="stakeholder.stakeholder_field === 'Program/Office'" class="form-control" [(ngModel)]="stakeholder.stakeholder_field_value">
                                    <option value="" selected disabled>Select {{stakeholder.stakeholder_field}}</option>
                                    <option *ngFor="let program of programs | keyvalue" value="{{program.key}}">{{program.key}}</option>
                                </select>
                                <select *ngIf="stakeholder.stakeholder_field === 'Student Organization' && added_stakeholder.student_organizations" class="form-control" 
                                    [(ngModel)]="stakeholder.stakeholder_field_value">
                                    <option value="" selected disabled>Select {{stakeholder.stakeholder_field}}</option>
                                    <option *ngFor="let student_organization of added_stakeholder.student_organizations" value="{{student_organization}}">{{student_organization}}</option>
                                </select>
                            </div>
                            
                            <div class="col-lg-12">
                                <hr>
                                <div class="float-right" >
                                    <button type="submit" class="btn btn-danger" (click)="stakeholderAddModal.hide()" style="margin-right: 1rem;">Cancel</button>
                                    <button type="submit" class="btn btn-success" (click)="saveStakeholder()">Save</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template #stakeholder_edit>
                        <div class="form-row breadcrumb" style="padding: 1rem;margin: 0;">

                            <div class="form-row col-lg-12">
                                <select class="form-control col-md-12" (change)="stakeholder_type_selected('edit', stakeholder_for_edit.stakeholder, $event.target.value)" [(ngModel)]="stakeholder_for_edit.stakeholder_type">
                                    <option value="" selected disabled>Select Stakeholder</option>
                                    <option *ngFor="let stakeholder_type of stakeholders[stakeholder_for_edit?.stakeholder] | keyvalue" value="{{stakeholder_type.key}}">{{stakeholder_type.key}}</option>
                                </select>
                            </div>
         
                            <div class="col-lg-12">
                                <hr>
                            </div>

                            <div class="container form-row col-lg-12" *ngFor="let stakeholder of stakeholder_for_edit?.field_data; index as in">
                                <legend *ngIf="stakeholder.stakeholder_field !== 'Student Organization' || 
                                    (stakeholder.stakeholder_field === 'Student Organization' && stakeholder_for_edit.student_organizations)" 
                                    class="col-form-label pt-0">{{stakeholder.stakeholder_field}}
                                </legend>
                                <input 
                                    *ngIf="stakeholder.stakeholder_field !== 'Program' && stakeholder.stakeholder_field !== 'Program/Department' && stakeholder.stakeholder_field !== 'Program/Office' &&
                                        stakeholder.stakeholder_field !== 'Yr. Level' && stakeholder.stakeholder_field !== 'Student Organization'" 
                                    type="text" class="form-control form-input" [(ngModel)]="stakeholder.stakeholder_field_value" placeholder="Enter {{stakeholder.stakeholder_field}}"
                                >
                                <select *ngIf="stakeholder.stakeholder_field === 'Yr. Level'" class="form-control" [(ngModel)]="stakeholder.stakeholder_field_value">
                                    <option value="" selected disabled>Select {{stakeholder.stakeholder_field}}</option>
                                    <option *ngFor="let year_level of year_levels" value="{{year_level}}">{{year_level}}</option>
                                </select>
                                <select *ngIf="stakeholder.stakeholder_field === 'Program' || stakeholder.stakeholder_field === 'Program/Department'" class="form-control" 
                                    (change)="program_type_selected('edit', $event.target.value)" [(ngModel)]="stakeholder.stakeholder_field_value">
                                    <option value="" selected disabled>Select {{stakeholder.stakeholder_field}}</option>
                                    <option *ngFor="let program of programs | keyvalue" value="{{program.key}}">{{program.key}}</option>
                                </select>
                                <select *ngIf="stakeholder.stakeholder_field === 'Program/Office'" class="form-control" [(ngModel)]="stakeholder.stakeholder_field_value">
                                    <option value="" selected disabled>Select {{stakeholder.stakeholder_field}}</option>
                                    <option *ngFor="let program of programs | keyvalue" value="{{program.key}}">{{program.key}}</option>
                                </select>
                                <select *ngIf="stakeholder.stakeholder_field === 'Student Organization' && stakeholder_for_edit.student_organizations" class="form-control" 
                                    [(ngModel)]="stakeholder.stakeholder_field_value">
                                    <option value="" selected disabled>Select {{stakeholder.stakeholder_field}}</option>
                                    <option *ngFor="let student_organization of stakeholder_for_edit.student_organizations" value="{{student_organization}}">{{student_organization}}</option>
                                </select>
                            </div>
                            
                            <div class="col-lg-12">
                                <hr>
                                <div class="float-right" >
                                    <button type="submit" class="btn btn-danger" (click)="stakeholderEditModal.hide()" style="margin-right: 1rem;">Cancel</button>
                                    <button type="submit" class="btn btn-success" (click)="updateStakeholder()">Save</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>  
        </div>
    </div>
<!-- Stakeholders tab end -->



    <!-- Evaluation tab start -->
    <div class="tab-pane fade" id="evaluation" role="tabpanel" aria-labelledby="evaluation-tab">
        <h2>Outreach Evaluation</h2>
		<br>
		<div class="form-group">
            <h6>
                Evaluation File: <input #evaluationFileInput type="file" class="btn" (change)="file_upload($event, 'evaluation')" />
                <button type="button" class="btn btn-primary" (click)="upload_evaluation()" *ngIf="evaluation_file">Upload</button>
            </h6>
        </div>
        <hr>
        <div class="row">
            <div class="card col-sm-6 col-lg-4" *ngFor="let evaluation of evaluation_files">
                <div class="card-body">
                    <a href="{{evaluation.url}}" target="_blank">
                        {{evaluation.original_file_name}}
                    </a>
                    <button type="button" class="btn btn-danger btn-sm float-right" (click)="delete_file(evaluation.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Evaluation tab end -->

    <!-- Report tab start -->
    <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
        <h2>Outreach Generate Report</h2>
		<br>
		<div class="form-group">
            <h6>
                Report File: <input #reportFileInput type="file" class="btn" (change)="file_upload($event, 'report')" />
                <button type="button" class="btn btn-primary" (click)="upload_report()" *ngIf="report_file">Upload</button>
            </h6>
        </div>
        <hr>
        <div class="row">
            <div class="card col-sm-6 col-lg-4" *ngFor="let report of report_files">
                <div class="card-body">
                    <a href="{{report.url}}" target="_blank">
                        {{report.original_file_name}}
                    </a>
                    <button type="button" class="btn btn-danger btn-sm float-right" (click)="delete_file(report.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Report tab end -->

    <!-- Photos tab start -->
    <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
        <h2>Photos</h2>
		<br>
		<div class="form-group">
            <h6>
                Image File: <input #imageFileInput type="file" class="btn" (change)="file_upload($event, 'image')" accept="image/*" />
                <button type="button" class="btn btn-primary" (click)="upload_image()" *ngIf="image_file">Upload</button>
            </h6>
        </div>
        <hr>
        <div class="row">
            <div class="card col-sm-6 col-lg-4" *ngFor="let image of image_files">
                <div class="card-body">
                    <a href="{{image.url}}" target="_blank">
                        {{image.original_file_name}}
                    </a>
                    <button type="button" class="btn btn-danger btn-sm float-right" (click)="delete_file(image.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Photos tab end -->

    
    <!-- cert tab start -->
    <div class="tab-pane fade" id="certificate" role="tabpanel" aria-labelledby="certificate-tab">
        <div class="d-flex justify-content-center"><h3>JOSE RIZAL UNIVERSITY</h3></div>
        <div class="d-flex justify-content-center"><h5>80 Shaw Blvd. Mandaluyong City</h5></div>
        <div class="d-flex justify-content-center"><h5>Community Development Office</h5></div>

        <br>
        <br>

        <div class="d-flex justify-content-center"><h1>Certificate of Appreciation</h1></div>
        <div class="d-flex justify-content-center"><h5>is awarded to</h5></div>

        <br>
        <br>

        <div class="d-flex justify-content-center"><h2>JOSE RIZAL </h2></div>

        <br>
        <br>

        <div class="d-flex justify-content-center"><h6>bale dito ay input kung ano ang gusto nyang ilagay as body ng certification(dynamic kuno)</h6></div>

        <br>

        <div class="d-flex justify-content-center"><h6>Given this DATE at PLACE </h6></div>

        <br>
        <br>
        
        <div class="d-flex justify-content-around">
            <div style="float:left"> 
                    <h5>Dynamic Name</h5>
                    <h6>Dynamic Position</h6>
            </div>

            <div></div>

            <div style="float:right"> 
                <h5>Dynamic Name</h5>
                <h6>Dynamic Position</h6>
            </div>
        </div>
        <button class="btn btn-primary" (click)="downloadCertificates()"> Download</button>
    </div>
    <!-- cert tab end -->


</div>